In [67]:
cd "/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017"
set more off
use id firstname lastname boardtop30private boardtop30public pehedge otherfin technology worth inherited collegeschooltype mbaschooltype year using forbes400_alum_board_1989_2003_2017, clear
label var boardtop30private "held seat on top 30 private university board"
label var pehedge "private equity or hedge fund partner"
label var otherfin "partner or owner of other financial enterprise"
label var technology "partner or owner in technology firm, but not financial enterprises"
label var worth "net worth"
label var inherited "in Forbes inherited wealth category"
label var year "year of observation"
label var id "person-level unique ID"
label var collegeschooltype "BA school status"
replace boardtop30public=. if year==1989

gen toppublicmba=0
replace toppublicmba=1 if mbaschooltype==2
gen topprivatemba=0
replace topprivatemba=1 if mbaschooltype==3
gen toppublicba=0
replace toppublicba=1 if collegeschooltype==2
gen topprivateba=0
replace topprivateba=1 if collegeschooltype==3

/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oliga
> rchy/Data/Boards 2000 to 2017












(400 real changes made, 400 to missing)


(8 real changes made)


(149 real changes made)


(171 real changes made)


(370 real changes made)

In [72]:
tab mbaschooltype if boardtop30public==1

mbaschoolty |
         pe |      Freq.     Percent        Cum.
------------+-----------------------------------
          4 |          7      100.00      100.00
------------+-----------------------------------
      Total |          7      100.00

In [36]:
sum boardtop30private if pehedge!=1 & otherfin!=1 & technology!=1 & year==2017
sum boardtop30private if pehedge==1 & year==2017
sum boardtop30private if otherfin==1 & year==2017
sum boardtop30private if technology==1 & year==2017

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
boardtop30~e |        245    .1061224    .3086248          0          1


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
boardtop30~e |         65    .2923077    .4583625          0          1


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
boardtop30~e |         35          .2    .4058397          0          1


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
boardtop30~e |         55    .1272727      .33635          0          1

In [70]:
est clear

quietly eststo: logistic boardtop30private pehedge otherfin technology worth inherited ///
if year>2000, ro cluster(id) 

 eststo: logistic boardtop30private pehedge otherfin technology worth inherited ///
toppublicba topprivateba toppublicmba topprivatemba if year>2000, ro cluster(id)

 eststo: logistic boardtop30public technology worth inherited ///
toppublicba topprivateba if year>2000, ro cluster(id)

Logistic regression                             Number of obs     =        800
                                                Wald chi2(9)      =      49.00
                                                Prob > chi2       =     0.0000
Log pseudolikelihood = -293.87638               Pseudo R2         =     0.1078

                                    (Std. Err. adjusted for 657 clusters in id)
-------------------------------------------------------------------------------
              |               Robust
boardtop30p~e | Odds Ratio   Std. Err.      z    P>|z|     [95% Conf. Interval]
--------------+----------------------------------------------------------------
      pehedge |   1.659344   .5527199     1.52   0.128     .8637835    3.187629
     otherfin |   1.352793   .5815327     0.70   0.482     .5825327    3.141536
   technology |   1.096518   .4752172     0.21   0.832     .4689381    2.563987
        worth |    .989455   .0138553    -0.76   0.449     .9626684    1.016987
    inherited |   .7186985    .150044    -1.58   0.114     .4773533    1.082066
  toppublicba |   1.587133   .7017379     1.04   0.296     .6672083    3.775419
 topprivateba |   3.347046   .9931752     4.07   0.000      1.87104    5.987428
 toppublicmba |   1.650887   1.692971     0.49   0.625     .2212164    12.32019
topprivatemba |   2.811709   .8739577     3.33   0.001     1.528949    5.170679
        _cons |   .0776403   .0202254    -9.81   0.000      .046596    .1293678
-------------------------------------------------------------------------------
Note: _cons estimates baseline odds.
(est2 stored)


Logistic regression                             Number of obs     =        800
                                                Wald chi2(5)      =      10.89
                                                Prob > chi2       =     0.0537
Log pseudolikelihood = -38.597362               Pseudo R2         =     0.0384

                                    (Std. Err. adjusted for 657 clusters in id)
-------------------------------------------------------------------------------
              |               Robust
boardtop30p~c | Odds Ratio   Std. Err.      z    P>|z|     [95% Conf. Interval]
--------------+----------------------------------------------------------------
   technology |   1.346313   1.597776     0.25   0.802     .1315099    13.78269
        worth |   .8422575   .0793425    -1.82   0.068     .7002609    1.013048
    inherited |   1.268206   .8859098     0.34   0.734     .3225376    4.986543
  toppublicba |   1.764773    1.73336     0.58   0.563     .2574178     12.0987
 topprivateba |   .4246992   .5127019    -0.71   0.478     .0398566    4.525454
        _cons |   .0143438   .0100956    -6.03   0.000     .0036105    .0569855
-------------------------------------------------------------------------------
Note: _cons estimates baseline odds.
Note: 2 failures and 0 successes completely determined.
(est3 stored)

In [71]:
%html

esttab ///
, eform cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth inherited technology pehedge otherfin ///
toppublicba topprivateba toppublicmba topprivatemba) ///
	order ( pehedge otherfin technology inherited worth  ///
toppublicba topprivateba toppublicmba topprivatemba) ///
coeflabels(finance "finance" pehedge "private equity / hedge fund" otherfin "other finance" ///
tech "technology" worth "worth in billions (2017 $)" inherited "inherited wealth" ///
toppublicba 2.collegeschooltype "Top 30 public BA" topprivateba "Top 30 private BA" ///) replace
toppublicmba "Top 30 public MBA" topprivatemba "Top 30 private MBA") ///
replace br  nocon html collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Public") ///
title(Table 2: Odds ratios for university board membership among Forbes 400) eqlabels(none)

This front-end or document format cannot display HTML

In [11]:
esttab using T3_circuitry_Forbes_board20200128.rtf  ///
, eform cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth inherited technology pehedge otherfin ///
2.collegeschooltype 3.collegeschooltype 2.mbaschooltype ///
3.mbaschooltype) ///
	order ( pehedge otherfin technology inherited worth  ///
2.collegeschooltype 3.collegeschooltype ///
2.mbaschooltype 3.mbaschooltype) ///
coeflabels(finance "finance" pehedge "private equity / hedge fund" otherfin "other finance" ///
tech "technology" worth "worth in billions (2017 $)" inherited "inherited wealth" ///
1.collegeschooltype "Non-top 60 BA" 2.collegeschooltype "Top 30 public BA" 3.collegeschooltype "Top 30 private BA" ///) replace
2.mbaschooltype "Top 30 public MBA" 3.mbaschooltype "Top 30 private MBA") ///
replace br  nocon html collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Public") ///
title(Table 2: Odds ratios for university board membership among Forbes 400) eqlabels(none)

(output written to T3_circuitry_Forbes_board20200128.rtf)