## Table 2: Marginal effects for university board membership among Forbes 400

### From Elite Embeddedness

By Charlie Eaton and Albina Gibadullina

In [1]:
set more off
use id name boardunitid1 boardunitid2 mbaunitid college collegeunitid jdunitid firstname lastname boardtop30private boardtop30public pehedge ///
otherfin technology worth inherited collegeschooltype mbaschooltype year using ///
data/d_forbes400_alum_board_1989_2003_2017, clear

In [2]:
gen alumboard=boardunitid1==collegeunitid | boardunitid1==mbaunitid | boardunitid1==jdunitid ///
    | boardunitid2==collegeunitid | boardunitid2==mbaunitid | boardunitid2==jdunitid
replace alumboard=0 if boardunitid1==.

(1,015 real changes made)

In [3]:
gen ba_alumboard=boardunitid1==collegeunitid | boardunitid2==collegeunitid
replace ba_alumboard=0 if boardunitid1==.

(422 real changes made)

In [4]:
set line 255
drop if year==1989

(400 observations deleted)

In [5]:
qui label var boardtop30private "held seat on top 30 private university board"
qui label var pehedge "private equity or hedge fund partner"
qui label var otherfin "partner or owner of other financial enterprise"
qui label var technology "partner or owner in technology firm, but not financial enterprises"
qui label var worth "net worth"
qui label var inherited "in Forbes inherited wealth category"
qui label var year "year of observation"
qui label var id "person-level unique ID"
qui label var collegeschooltype "BA school status"
qui replace boardtop30public=. if year==1989

qui  gen toppublicmba=0
qui  replace toppublicmba=1 if mbaschooltype==2
qui gen topprivatemba=0
qui replace topprivatemba=1 if mbaschooltype==3
qui gen toppublicba=0
qui replace toppublicba=1 if collegeschooltype==2
qui gen topprivateba=0
qui replace topprivateba=1 if collegeschooltype==3

In [6]:
est clear

quietly logit boardtop30private i.pehedge i.otherfin i.technology worth i.inherited ///
if year>2000, ro cluster(id) 

qui eststo: margins, dydx(*) post

qui logit boardtop30private i.pehedge i.otherfin i.technology worth i.inherited ///
i.toppublicba i.topprivateba i.toppublicmba i.topprivatemba if year>2000, ro cluster(id)

qui eststo: margins, dydx(*) post

qui logit boardtop30public worth i.inherited ///
i.toppublicba i.topprivateba if year>2000, ro cluster(id) 

qui eststo: margins, dydx(*) post

In [7]:
%html

display "Table 2: Marginal effects for university board membership among Forbes 400"
esttab ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth 1.inherited 1.technology 1.pehedge 1.otherfin ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
	order ( 1.pehedge 1.otherfin 1.technology 1.inherited worth  ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba acceptrate) ///
coeflabels(1.pehedge "private equity / hedge fund" 1.otherfin "other finance" ///
1.technology "technology" worth "worth in billions (2017 $)" 1.inherited "inherited wealth" ///
1.toppublicba "Top 30 public BA" 1.topprivateba "Top 30 private BA" ///
1.toppublicmba "Top 30 public MBA" 1.topprivatemba "Top 30 private MBA") ///
replace br  html collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Public") ///
eqlabels(none)

This front-end or document format cannot display HTML

In [113]:
%html

esttab ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth 1.inherited 1.technology 1.pehedge 1.otherfin ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
	order ( 1.pehedge 1.otherfin 1.technology 1.inherited worth  ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba acceptrate) ///
coeflabels(1.pehedge "private equity / hedge fund" 1.otherfin "other finance" ///
1.technology "technology" worth "worth in billions (2017 $)" 1.inherited "inherited wealth" ///
1.toppublicba "Top 30 public BA" 1.topprivateba "Top 30 private BA" ///
1.toppublicmba "Top 30 public MBA" 1.topprivatemba "Top 30 private MBA") ///
replace br  html collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Public") ///
title(Table 2: Marginal effects for university board membership among Forbes 400) eqlabels(none)

This front-end or document format cannot display HTML

In [112]:
esttab using t2_forbes_400_board.rtf  ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth 1.inherited 1.technology 1.pehedge 1.otherfin ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
	order ( 1.pehedge 1.otherfin 1.technology 1.inherited worth  ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba acceptrate) ///
coeflabels(1.pehedge "private equity / hedge fund" 1.otherfin "other finance" ///
1.tech "technology" worth "worth in billions (2017 $)" 1.inherited "inherited wealth" ///
1.toppublicba "Top 30 public BA" 1.topprivateba "Top 30 private BA" ///
1.toppublicmba "Top 30 public MBA" 1.topprivatemba "Top 30 private MBA") ///
replace br collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Public") ///
title(Table 2: Marginal effects for university board membership among Forbes 400) eqlabels(none)

(file t2_forbes_400_board.rtf not found)
(output written to t2_forbes_400_board.rtf)

In [ ]:
sum boardtop30private if pehedge!=1 & otherfin!=1 & technology!=1 & year==2017
sum boardtop30private if pehedge==1 & year==2017
sum boardtop30private if otherfin==1 & year==2017
sum boardtop30private if technology==1 & year==2017

tab ba_alumboard alumboard 
tab boardtop30private
tab boardtop30public
list name boardunitid1 college collegeunitid year if alumboard==1 & boardtop30private!=1 & boardtop30private!=1