## Table 3: Marginal effects for university board membership among Forbes 400

### From Elite Embeddedness

By Charlie Eaton and Albina Gibadullina

In [1]:
use id name boardunitid1 boardunitid2 mbaunitid college collegeunitid jdunitid boardtop30private boardtop30public pehedge ///
otherfin technology worth inherited collegeschooltype mbaschooltype year using ///
data/d_forbes400_alum_board_1989_2003_2017, clear

In [2]:
gen alumboard=boardunitid1==collegeunitid | boardunitid1==mbaunitid | boardunitid1==jdunitid ///
    | boardunitid2==collegeunitid | boardunitid2==mbaunitid | boardunitid2==jdunitid
replace alumboard=0 if boardunitid1==.

(1,015 real changes made)

In [3]:
gen ba_alumboard=boardunitid1==collegeunitid | boardunitid2==collegeunitid
replace ba_alumboard=0 if boardunitid1==.

(422 real changes made)

In [4]:
set line 255
drop if year==1989

(400 observations deleted)

In [5]:
qui label var boardtop30private "held seat on top 30 private university board"
qui label var pehedge "private equity or hedge fund partner"
qui label var otherfin "partner or owner of other financial enterprise"
qui label var technology "partner or owner in technology firm, but not financial enterprises"
qui label var worth "net worth"
qui label var inherited "in Forbes inherited wealth category"
qui label var year "year of observation"
qui label var id "person-level unique ID"
qui label var collegeschooltype "BA school status"
qui replace boardtop30public=. if year==1989

qui  gen toppublicmba=0
qui  replace toppublicmba=1 if mbaschooltype==2
qui gen topprivatemba=0
qui replace topprivatemba=1 if mbaschooltype==3
qui gen toppublicba=0
qui replace toppublicba=1 if collegeschooltype==2
qui gen topprivateba=0
qui replace topprivateba=1 if collegeschooltype==3

In [6]:
est clear

quietly logit boardtop30private i.pehedge i.otherfin i.technology ///
if year>2000, ro cluster(id) 

qui eststo: margins, dydx(*) post atmeans

quietly logit boardtop30private i.pehedge i.otherfin i.technology worth i.inherited ///
if year>2000, ro cluster(id) 

qui eststo: margins, dydx(*) post atmeans

qui logit boardtop30private i.pehedge i.otherfin i.technology worth i.inherited ///
i.toppublicba i.topprivateba i.toppublicmba i.topprivatemba if year>2000, ro cluster(id)

qui eststo: margins, dydx(*) post atmeans

qui logit boardtop30public i.technology worth i.inherited ///
i.toppublicba i.topprivateba if year>2000, ro cluster(id) 

qui eststo: margins, dydx(*) post atmeans

In [7]:
display "Table 3: Marginal effects for university board membership among Forbes 400"
esttab ///
, cells(b(star fmt(3)) se(fmt(3) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth 1.inherited 1.technology 1.pehedge 1.otherfin ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
	order ( 1.pehedge 1.otherfin 1.technology 1.inherited worth  ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba)  ///
coeflabels(1.pehedge "private equity / hedge fund" 1.otherfin "other finance" ///
1.technology "technology" worth "worth in billions (2017 $)" 1.inherited "inherited wealth" ///
1.toppublicba "Top 30 public BA" 1.topprivateba "Top 30 private BA" ///
1.toppublicmba "Top 30 public MBA" 1.topprivatemba "Top 30 private MBA") ///
replace br collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Private" "Top 30 Public") ///
eqlabels(none)

Table 3: Marginal effects for university board membership among Forbes 400

--------------------------------------------------------------------------------
                      (1)              (2)              (3)              (4)
             Top 30 Pri~e     Top 30 Pri~e     Top 30 Pri~e     Top 30 Pub~c
--------------------------------------------------------------------------------
private eq~d        0.162 **         0.177 **         0.060
                  (0.057)          (0.060)          (0.044)
other fina~e        0.071            0.068            0.034
                  (0.065)          (0.064)          (0.053)
technology          0.013            0.027            0.010            0.002
                  (0.052)          (0.055)          (0.047)          (0.008)
inherited ~h                        -0.045 *         -0.033 ^          0.001
                                   (0.022)          (0.020)          (0.004)
worth in b~)                        -0.001           -0.001           -0.001 ^
                                   (0.002)          (0.001)          (0.001)
Top 30 pub~A                                          0.054            0.004
                                                    (0.058)          (0.008)
Top 30 pri~A                                          0.149 ***       -0.004
                                                    (0.040)          (0.006)
Top 30 pub~A                                          0.062
                                                    (0.150)
Top 30 pri~A                                          0.140 **
                                                    (0.053)
--------------------------------------------------------------------------------
N                     800              800              800              800
--------------------------------------------------------------------------------
^ p<.1, * p<.05, ** p<.01, *** p<.001

In [8]:
qui esttab using tables/t3_forbes_400_board.rtf  ///
, cells(b(star fmt(3)) se(fmt(3) par))  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth 1.inherited 1.technology 1.pehedge 1.otherfin ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
	order ( 1.pehedge 1.otherfin 1.technology 1.inherited worth  ///
1.toppublicba 1.topprivateba 1.toppublicmba 1.topprivatemba) ///
coeflabels(1.pehedge "private equity / hedge fund" 1.otherfin "other finance" ///
1.technology "technology" worth "worth in billions (2017 $)" 1.inherited "inherited wealth" ///
1.toppublicba "Top 30 public BA" 1.topprivateba "Top 30 private BA" ///
1.toppublicmba "Top 30 public MBA" 1.topprivatemba "Top 30 private MBA") ///
replace br collabels(none) ///
mlabels("Top 30 Private" "Top 30 Private" "Top 30 Private" "Top 30 Public") ///
eqlabels(none)

### The following shows that OLS yields equivalent results

In [9]:
reg boardtop30private i.pehedge i.otherfin i.technology ///
if year>2000, ro cluster(id)

Linear regression                               Number of obs     =        800
                                                F(3, 656)         =       2.98
                                                Prob > F          =     0.0308
                                                R-squared         =     0.0232
                                                Root MSE          =     .34762

                                   (Std. err. adjusted for 657 clusters in id)
------------------------------------------------------------------------------
             |               Robust
boardtop30~e | Coefficient  std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
   1.pehedge |   .1556434   .0543951     2.86   0.004     .0488339     .262453
  1.otherfin |   .0641026   .0582044     1.10   0.271    -.0501868    .1783919
1.technology |   .0109312   .0449422     0.24   0.808    -.0773168    .0991791
       _cons |   .1153846   .0170891     6.75   0.000     .0818288    .1489405
------------------------------------------------------------------------------