## Table A3: Count of schools' financier alumni in Forbes 400 by schools' rejection rates

### From Elite Embeddedness

By Charlie Eaton and Albina Gibadullina

In [1]:
use data/d_school_level_elite_embed.dta, clear
keep if year==2003 | year==2017
set scheme plotplain

keep unitid year schoolname fgrnt_p acceptrate schooltypenum acceptrate ///
cpi_scalar_2017 endowment_assets total03_revenue fte_count pehedge ///
otherfinance nonfinance nonfinbiz tefraceunder teftotlt alumnipehedge

(795 observations deleted)

In [2]:
gen typeyear2=3 if schooltypenum==2 & year==2003
replace typeyear2=1 if schooltypenum==3 & year==2003
replace typeyear2=4 if schooltypenum==2 & year==2017
replace typeyear2=2 if schooltypenum==3 & year==2017
label define typeyear2 3 "Public 2003" 1 "Private 2003" ///
4 "Public 2017" 2 "Private 2017"
label val typeyear2 typeyear2

qui gen pctunderfirst= tefraceunder/teftotlt

qui gen endow_assets_c_log=log(endowment_assets / cpi_scalar_2017)
qui gen logtotal03_revenue=log(total03_revenue / cpi_scalar_2017)
qui gen logfte_count=log(teftotlt)

qui egen boardcount=rowtotal(pehedge otherfinance nonfinance)
qui gen pctalt= pehedge/boardcount * 100

(86 missing values generated)
(26 real changes made)
(30 real changes made)
(30 real changes made)

In [3]:
gen rejectrate=(1-acceptrate)*100
label var rejectrate "admissions selectivity (rejection rate)"
label var endow_assets_c_log "Endowment assets (log 2017 $)"
label var logtotal03_revenue "University revenue (log 2017 $)"
label var logfte_count "FTE students (log)"
label var fgrnt_p "% students low-income"
label var pctunderfirst "% students racially underrepresented"

In [4]:
est clear
qui eststo: reg alumnipehedge rejectrate if schooltypenum==3 & year==2017, cluster(unitid)
reg alumnipehedge rejectrate if schooltypenum==3 & year==2003, cluster(unitid)

qui eststo: reg alumnipehedge 3.schooltypenum##c.rejectrate ///
    logfte_count endow_assets_c_log logtotal03_revenue pctunderfirst fgrnt_p if year==2003, cluster(unitid)

qui eststo: reg alumnipehedge 3.schooltypenum##c.rejectrate ///
    logfte_count endow_assets_c_log logtotal03_revenue pctunderfirst fgrnt_p if year==2017, cluster(unitid)

Linear regression                               Number of obs     =         26
                                                F(1, 25)          =       6.94
                                                Prob > F          =     0.0142
                                                R-squared         =     0.2617
                                                Root MSE          =     1.9303

                                (Std. err. adjusted for 26 clusters in unitid)
------------------------------------------------------------------------------
             |               Robust
alumnipehe~e | Coefficient  std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
  rejectrate |   .0703963   .0267146     2.64   0.014     .0153765    .1254161
       _cons |  -3.726461   1.711547    -2.18   0.039    -7.251459    -.201463
------------------------------------------------------------------------------

In [5]:
est clear
qui eststo: reg alumnipehedge rejectrate if schooltypenum==3 & year==2003, cluster(unitid)

qui eststo: reg alumnipehedge rejectrate if schooltypenum==3 & year==2017, cluster(unitid)

qui eststo: reg alumnipehedge rejectrate if schooltypenum==2 & year==2003, cluster(unitid)

qui eststo: reg alumnipehedge rejectrate if schooltypenum==2 & year==2017, cluster(unitid)

In [6]:
set line 150
esttab, type cells(b(star fmt(3)) se(par fmt(3))) stardetach ///
label collabels(none) ///
starlevels(^ .1 * .05 ** .01 *** .001) eqlabels(none) ///
keep(rejectrate) ///
stats(r2 r2_within N_clust N, fmt(2 2 0 0) label(R-square Schools N)) ///
mlabel("Private 2003" "Private 2017" "Public 2003" "Public 2017" "Panel Fixed Effects" )

----------------------------------------------------------------------------------------
                              (1)              (2)              (3)              (4)
                     Private 2003     Private 2017      Public 2003      Public 2017
----------------------------------------------------------------------------------------
admissions selecti~o        0.070 *          0.202 *          0.036 ^          0.021 *
                          (0.027)          (0.076)          (0.018)          (0.009)
----------------------------------------------------------------------------------------
R-square                     0.26             0.19             0.35             0.29
Schools
N                              26               30               29               30
N                              26               30               29               30
----------------------------------------------------------------------------------------

In [7]:
qui esttab using tables/ta3_forbes400_admissions.rtf, replace ///
type cells(b(star fmt(3)) se(par fmt(3))) stardetach ///
label collabels(none) ///
starlevels(^ .1 * .05 ** .01 *** .001) eqlabels(none) ///
keep(rejectrate) ///
stats(r2 r2_within N_clust N, fmt(2 2 0 0) label(R-square Schools N)) ///
mlabel("Private 2003" "Private 2017" "Public 2003" "Public 2017" "Panel Fixed Effects" )

In [8]:
gsort year -schooltypenum schoolname
list schoolname rejectrate alumnipehedge unitid if year==2017 & schooltypenum==3

     +----------------------------------------------------------------------+
     |                            schoolname   reject~e   alumni~e   unitid |
     |----------------------------------------------------------------------|
 56. |                     boston university   74.89026          0   164988 |
 57. |                   brandeis university   65.77937          0   165015 |
 58. |                      brown university    91.5075          0   217156 |
 59. |    california institute of technology   92.26053          0   110404 |
 60. |            carnegie mellon university   77.80163          1   211440 |
     |----------------------------------------------------------------------|
 61. |       case western reserve university   66.88338          0   201645 |
 62. |                   columbia university   93.39157          7   190150 |
 63. |                    cornell university   87.32541          3   190415 |
 64. |                     dartmouth college   89.55328          4   182670 |
 65. |                       duke university   90.14118          3   198419 |
     |----------------------------------------------------------------------|
 66. |                      emory university   77.95932          0   139658 |
 67. |                 georgetown university   84.32113          0   131496 |
 68. |                    harvard university   94.84382         17   166027 |
 69. |              johns hopkins university   87.46133          0   162928 |
 70. | massachusetts institute of technology   92.82857          2   166683 |
     |----------------------------------------------------------------------|
 71. |                   new york university   72.33584          4   193900 |
 72. |               northeastern university   72.55806          0   167358 |
 73. |               northwestern university   90.76196          2   147767 |
 74. |                  princeton university   93.59222          1   186131 |
 75. |                       rice university   84.14439          1   227757 |
     |----------------------------------------------------------------------|
 76. |                   stanford university   95.26921          8   243744 |
 77. |                      tufts university   85.08601          0   168148 |
 78. |                 university of chicago   91.26526          3   144050 |
 79. |              university of notre dame   81.07749          0   152080 |
 80. |            university of pennsylvania   90.70348         14   215062 |
     |----------------------------------------------------------------------|
 81. |               university of rochester   65.78864          1   195030 |
 82. |     university of southern california   84.04616          1   123961 |
 83. |                 vanderbilt university   89.14564          1   221999 |
 84. |     washington university in st louis   84.03637          0   179867 |
 85. |                       yale university   93.07461          5   130794 |
     +----------------------------------------------------------------------+

In [9]:
gsort year -schooltypenum schoolname
list schoolname rejectrate alumnipehedge unitid if year==2003 & schooltypenum==3

     +----------------------------------------------------------------------+
     |                            schoolname   reject~e   alumni~e   unitid |
     |----------------------------------------------------------------------|
  1. |    california institute of technology   83.06741          0   110404 |
  2. |            carnegie mellon university   61.56079          0   211440 |
  3. |       case western reserve university   24.67949          0   201645 |
  4. |                   columbia university    86.4191          5   190150 |
  5. |                    cornell university   69.01326          1   190415 |
     |----------------------------------------------------------------------|
  6. |                     dartmouth college   81.82201          0   182670 |
  7. |                       duke university    76.8434          0   198419 |
  8. |                      emory university    57.6872          0   139658 |
  9. |                 georgetown university   77.26978          0   131496 |
 10. |                    harvard university   90.01763          8   166027 |
     |----------------------------------------------------------------------|
 11. |              johns hopkins university   69.40038          0   162928 |
 12. | massachusetts institute of technology   83.55294          0   166683 |
 13. |                   new york university   67.89732          2   193900 |
 14. |               northeastern university   38.63943          0   167358 |
 15. |               northwestern university   67.08675          0   147767 |
     |----------------------------------------------------------------------|
 16. |                  princeton university    89.8194          3   186131 |
 17. |                       rice university   75.73618          0   227757 |
 18. |                   stanford university   87.42216          3   243744 |
 19. |                      tufts university    73.6353          0   168148 |
 20. |                 university of chicago   60.38462          0   144050 |
     |----------------------------------------------------------------------|
 21. |            university of pennsylvania   79.62402          5   215062 |
 22. |               university of rochester    52.6843          0   195030 |
 23. |     university of southern california   70.10384          1   123961 |
 24. |                 vanderbilt university   53.74136          0   221999 |
 25. |     washington university in st louis   79.97841          0   179867 |
     |----------------------------------------------------------------------|
 26. |                       yale university   87.01022          5   130794 |
     +----------------------------------------------------------------------+

In [10]:
set line 200
gsort -year schooltypenum schoolname
list schoolname rejectrate alumnipehedge unitid if year==2017 & schooltypenum==2

     +----------------------------------------------------------------------------+
     |                                  schoolname   reject~e   alumni~e   unitid |
     |----------------------------------------------------------------------------|
  1. |                        arizona state system   16.42169          0   104179 |
  2. |                    florida state university   50.80942          0   134097 |
  3. |                   georgia university system     45.988          0   139959 |
  4. |                   indiana university system    23.9896          0   151351 |
  5. |                  maryland university system   55.49791          0   163286 |
     |----------------------------------------------------------------------------|
  6. |                   michigan state university   28.45088          1   171100 |
  7. |                       ohio state university   51.94006          0   204796 |
  8. |               pennsylvania state university   49.68636          0   214777 |
  9. |            purdue university west lafayette   42.53151          0   243780 |
 10. | rutgers, the state university of new jersey   42.19987          0   186380 |
     |----------------------------------------------------------------------------|
 11. |        state university of new york buffalo   57.80874          1   196097 |
 12. |                        texas a&m university   29.46085          0   228723 |
 13. |             university of california system   82.89239          3   110635 |
 14. |                    university of cincinnati   23.50762          0   201885 |
 15. |                      university of colorado   20.15879          0   126614 |
     |----------------------------------------------------------------------------|
 16. |                      university of delaware    37.1147          0   130943 |
 17. |                       university of florida   57.98699          0   134130 |
 18. |              university of hawai'i at mānoa   16.84508          0   141574 |
 19. |               university of illinois system   38.47298          0   145637 |
 20. |                          university of iowa    13.9612          0   153658 |
     |----------------------------------------------------------------------------|
 21. |         university of massachusetts amherst   42.42085          0   166629 |
 22. |               university of michigan system   73.49798          0   170976 |
 23. |                     university of minnesota   50.40942          0   174066 |
 24. |         university of north carolina system   75.60403          1   199120 |
 25. |                 university of south florida   54.63937          0   137351 |
     |----------------------------------------------------------------------------|
 26. |                  university of texas system    63.5138          0   228778 |
 27. |                          university of utah   33.84821          0   230764 |
 28. |               university of virginia system   72.65287          2   234076 |
 29. |             university of washington system   53.57756          1   236948 |
 30. |              university of wisconsin system   46.19339          0   240444 |
     +----------------------------------------------------------------------------+

In [11]:
set line 200
gsort year schooltypenum schoolname
list schoolname rejectrate alumnipehedge unitid if year==2003 & schooltypenum==2

     +----------------------------------------------------------------------------+
     |                                  schoolname   reject~e   alumni~e   unitid |
     |----------------------------------------------------------------------------|
  1. |                    florida state university   35.53347          0   134097 |
  2. |                   georgia university system   24.78625          0   139959 |
  3. |                   indiana university system   18.87456          0   151351 |
  4. |                  maryland university system   57.33179          0   163286 |
  5. |                   michigan state university    29.1635          1   171100 |
     |----------------------------------------------------------------------------|
  6. |                       ohio state university   27.96938          0   204796 |
  7. |               pennsylvania state university   43.38502          0   214777 |
  8. |            purdue university west lafayette   21.33002          0   243780 |
  9. | rutgers, the state university of new jersey   45.60068          0   186380 |
 10. |        state university of new york buffalo   49.35241          0   196097 |
     |----------------------------------------------------------------------------|
 11. |                        texas a&m university   32.52753          0   228723 |
 12. |             university of california system   76.10921          5   110635 |
 13. |                    university of cincinnati   12.38509          0   201885 |
 14. |                      university of colorado   19.74187          0   126614 |
 15. |                      university of delaware   57.91553          0   130943 |
     |----------------------------------------------------------------------------|
 16. |                       university of florida   47.63853          0   134130 |
 17. |              university of hawai'i at mānoa   27.22279          0   141574 |
 18. |               university of illinois system   39.84361          0   145637 |
 19. |                          university of iowa   17.68014          0   153658 |
 20. |         university of massachusetts amherst   18.05454          0   166629 |
     |----------------------------------------------------------------------------|
 21. |               university of michigan system   46.75249          1   170976 |
 22. |                     university of minnesota   23.98719          0   174066 |
 23. |         university of north carolina system   64.57033          1   199120 |
 24. |                 university of south florida   38.24156          0   137351 |
 25. |                  university of texas system   53.08128          2   228778 |
     |----------------------------------------------------------------------------|
 26. |                          university of utah   13.79665          0   230764 |
 27. |               university of virginia system   60.51822          1   234076 |
 28. |             university of washington system   29.27154          0   236948 |
 29. |              university of wisconsin system   34.17439          0   240444 |
     +----------------------------------------------------------------------------+